* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #F9F4FB;
  --title-color: #B52184;
  --font-color: #312D64;
}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  background-color: var(--bg-color);
}

#page {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr;
}

.first-section {
  display: grid;
  row-gap: 2.5rem;
  grid-auto-rows: max-content;
  justify-items: center;
  padding-bottom: 9rem;
}

.first-section img:first-child {
  width: 100%;
  object-fit: cover;
  max-width: 364px;
}

.first-section h1 {
  font-size: 3.2rem;
  font-weight: 900;  
  color: var(--title-color);
}

.first-section p {
  font-size: 2rem;
  font-weight: 600;  
  text-align: center;
  color: var(--font-color);
}

.second-section {
  background-color: var(--font-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding: 6rem 4rem;
}

.info-card {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 352px;
  overflow: hidden;
}

.info-card img {
  margin-bottom: 1.5rem;
}

.info-card h2 {
  font-size: 2.9rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--title-color);
}


#page section:nth-child(3) {
  background-color: blue;
}
